<div class="ui container">

<p id="create_group_header">Create New Group</p>

<%=form_for ([@event, @event.groups.build]), :html => {:class => 'ui form'} do |f| %>
<p>
    <%= f.text_field :title, :placeholder => 'Title' %>
    <p class="error">
  	<%= show_errors(@group, :title) %>
</p>
    <%= f.text_area :description, :placeholder => "Description" %>
    <p class="error">
  <%= show_errors(@group, :description) %>
</p>

</p>

<p>
    <%= f.submit :class => 'ui button' %>
</p>
<% end %>
</div>