	<h1>Edit Group</h1>
<%=form_for :group, url: event_group_path, method: :put do |f| %>


<p>
	<%= f.label :title %>
	<%= f.text_field :title %>

</p>

<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
</p>


<p>
	<%= f.submit %>
</p>

	<%= link_to 'Merge', event_group_path, 
				method: :delete,
				data: {confirm: 'Are you sure?'} %>

<% end %>