<div class="ui container">

<h1>New group</h1>

<%=form_for :group, url: event_groups_path, :html => {:class => 'form'} do |f| %>
<p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <p class="error">
  	<%= show_errors(@group, :title) %>
</p>

    <%= f.label :description %>
    <%= f.text_area :description %>
    <p class="error">
  <%= show_errors(@group, :description) %>
</p>

</p>

<p>
    <%= f.submit :class => 'ui button' %>
</p>
<% end %>
</div>