<%= @group.title %><br>
<%= @group.description%><br>

<%= link_to 'Edit', edit_event_group_path, class: "ui teal mini button" %><br>

<% @list.each do |user| %>
    <%= user.first_name %><br />
    <a href="<%= user.public_profile_url %>">Link Up!</a>
<% end %>
