<h1>Edit Post</h1>
<%=form_for :event, url: event_path(@event), method: :put do |f| %>


<p>
	<%= f.label :name %>
	<%= f.text_field :name %>

</p>
<p>
	<%= f.label :date %><br>
	<%= f.text_area :date %>
</p>

<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
</p>



<p>
	<%= f.submit %>
</p>
<!-- Think of how to make the field for the event not to show instead of deleting event -->
<% button_to "Update", event, method: :put, params: {show: false} %>

<% end %>