<h1>Edit Event</h1>
<%=form_for :event, url: event_path(@event), method: :put do |f| %>

<p>
	<%= f.label :title %>
	<%= f.text_field :title %>

</p>
<p>
	<%= f.label :datetime_start %><br>
	<%= f.text_area :datetime_start %>
</p>

<p>
	<%= f.label :datetime_end %><br>
	<%= f.text_area :datetime_end %>
</p>

<p>
	<%= f.label :description %><br>
	<%= f.text_area :description %>
</p>



<p>
	<%= f.submit %>
</p>

	<%= link_to 'Destroy', event_path(@event), 
				method: :delete,
				data: {confirm: 'Are you sure?'} %>

<% end %>