<div class="ui container">
	<div class="ui tiny two steps">
		<div class="active step">
			<div class="content">
				<div class="title" id="join_group_guide">Join a group</div>
				<div class="description">Tap an event to join a group.</div>
			</div>
		</div>
		<div class="active step">
			<div class="content">
				<div class="title" id="find_group">Mingle with your group</div>
				<div class="description"><p>Meet at the stated time and venue and start mingling.</p></div>
			</div>
		</div>
	</div>

</div>


<div class="ui container" id="cards">

	<div class="center aligned content">
		<div class="ui fluid teal button" id="add_event_button"><%= link_to '+ New Event', new_event_path(@event) %></div>

	</div>

<div class="ui horizontal divider">Upcoming Events</div>

	<% @events.each do |event| %>
	<% (Time.zone.now.to_date...event.datetime_start).count %>
				<% time_left = (Time.zone.now.to_date...event.datetime_start).to_a.size %>
	<% if (event.datetime_start - Time.zone.now.to_date >= 0) %>
	<div class="ui raised card">
		<div class="content">
			<div class="ui top right attached label">
					<% if (time_left == 0) %>
					<p> Today </p>
					<% else %>
					<p><%= time_left %> more days </p>
					<% end %>
			</div>
			<br>
		<%= link_to event_path(event) do %>
			<% if (event.active != false) %>
				<div class="meta"><%= event.datetime_start.to_formatted_s(:rfc822) %> to <%= event.datetime_end.to_formatted_s(:rfc822) %></div>
				
				<div class="meta"><%= event.location.titleize %></div>
				<div class="header" id="header"><%= event.title.titleize %></div>
				<br>
				<a class="ui teal right ribbon label"><%= event.users.count %> Minglers to connect</a>
				<!-- Help to add in the logic that only owners can see. I can't seem to get user_role from the join table to work here-->
				<div class="meta"><span>Event URL:</span>
					<a class="ui link"> http://www.mingle.link/<%= event.event_id %></a>
				</div>


				
			</div>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
	</div>
</div>


<div class="ui horizontal divider">Past Events</div>
<div class="ui container" id="cards">
		<div class="ui raised card">
	<% @events.each do |event| %>
	<% (Time.zone.now.to_date...event.datetime_start).count %>
				<% time_left = (Time.zone.now.to_date...event.datetime_start).to_a.size %>
	<% if (event.datetime_start - Time.zone.now.to_date < 0) %>

		<div class="content">
		<%= link_to event_path(event) do %>
			<% if (event.active != false) %>
				<div class="meta"><%= event.datetime_start.to_formatted_s(:rfc822) %> to <%= event.datetime_end.to_formatted_s(:rfc822) %></div>
				
				<div class="meta"><%= event.location.titleize %></div>
				<div class="header" id="header"><%= event.title.titleize %></div>
			</div>
		<% end %>
		<% end %>
		<% end %>
		<% end %>
	</div>
</div>


