<div class="ui container">
<h1>List of all events</h1>
<!-- shows list of events except for those where show == false -->
<% @events.each do |event| %>
<% if (event.show != false) %>
<p><%= event.name %></p>
<p><%= event.date %></p>
<p><%= event.unique_code %></p>
<%= link_to "More",event_path(event) %>
<% end %>
<% end %>

<h3><%= link_to 'Create', new_event_path(@event) %></h3>
</div>