<div class="ui container">
	<div class="ui tiny two steps">
		<div class="active step">
			<div class="content">
				<div class="title" id="join_group">Join a group</div>
				<div class="description">Tap an event to join a group.</div>
			</div>
		</div>
		<div class="active step">
			<div class="content">
				<div class="title" id="find_group">Mingle with your group</div>
				<div class="description"><p>Meet at the stated time and venue and start mingling.</p></div>
			</div>
		</div>
	</div>

</div>

<div class="ui container" id="cards">
	<div class="ui card">
	<div class="center aligned content" id="add_event">
		<h4><%= link_to '+ New Event', new_event_path(@event) %></h4>
	</div>
	</div>

	<h3>Upcoming events</h3>


	<% @events.each do |event| %>
	<div class="ui raised card">
		<div class="content">
		<%= link_to event_path(event) do %>
			<% if (event.active != false) %>
				<div class="meta"><%= event.datetime_start %> to <%= event.datetime_end %></div>
				
				<div class="meta"><%= event.location.titleize %></div>
				<div class="header" id="header"><%= event.title.titleize %></div><br>
				<!-- insert the code for pulling number of users in the event -->
				<a class="ui teal right ribbon label"><%= event.users.count %> Minglers to connect</a>
			</div>
		<% end %>
		<% end %>
		<% end %>
	</div>
</div>


