<h1>List of all events</h1>

<% @events.each do |event| %>
<p><%= event.name %></p>
<p><%= event.date %></p>
<p><%= event.unique_code %></p>
<%= link_to "More",event_path(event) %>
<% end %><br>

<h3><%= link_to 'Create', new_event_path(@event) %></h3>