<div class="ui bordered image" id="conference_image">

</div>

<div class="ui container" id="new_event_form">
<h3>Create New Event</h3>

	
	<%=form_for :event, url: events_path, :html => {:class => 'ui form'} do |f| %>
	<p>
		<%= f.text_field :title, :placeholder => 'Title' %>
	</p>
	<p class="error">
		<%= show_errors(@event, :title) %>
	</p>
	<p>

    <div class="two fields">
      <div class="field">
        <div class="ui calendar" id="rangestart">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <%= f.text_field :datetime_start, :placeholder => 'Start Date', :html => {:class => 'example1'} %>
             <p class="error">
				<%= show_errors(@event, :datetime_start) %>
				<p>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="ui calendar" id="rangeend">
          <div class="ui input left icon">
            <i class="calendar icon"></i>
            <%= f.text_field :datetime_end, :placeholder => 'End Date', :html => {:class => 'example1'} %>
            <p class="error">
				<%= show_errors(@event, :datetime_end) %>
				<p>
          </div>
        </div>
      </div>
    </div>
  

  					<%= f.text_area :description, :placeholder => 'Description' %>
				</p>
				<p class="error">
					<%= show_errors(@event, :description) %>
					<p>
						<%= f.text_field :location, :placeholder => 'Location' %>
					</p>
					<p class="error">
						<%= show_errors(@event, :location) %>
						<p>
							<%= f.submit 'Create Event', :class => 'ui teal button' %>
						</p>
						<% end %>
					</div

</div>
</div>
<script>$('#rangestart').calendar({type: 'date', endCalendar: $('#rangeend')});
$('#rangeend').calendar({type: 'date', startCalendar: $('#rangestart')});</script>
			
			

