<div class="container">
<h1>Add Event</h1>
<%=form_for :event, url: events_path, :html => {:class => 'form'} do |f| %>

<p>
    <%= f.label "Event Name" %>
    <%= f.text_field :name %>

    <%= f.label :date %>
    <%= f.text_field :date %>

    <%= f.label :description %>
    <%= f.text_area :description %>

</p>

<p>
    <%= f.submit :class => 'button' %>
</p>
<% end %>
</div>