<div class="ui container">

	<div class="ui raised card">
		<div class="content">
			<div class="meta"><%= @event.datetime_start.to_formatted_s(:rfc822) %> to <%= @event.datetime_end.to_formatted_s(:rfc822) %></div>
			<div class="meta"><%= @event.location.titleize %></div>

			<div class="header" id="header"><%= @event.title.titleize %></div>
			<br>
			<div class="content"> <%= @event.description %></div>
			<div class="ui container">
				<%= link_to main_path do %>
				<button class="ui tiny button">Back</button>
				<% end %>
				<%= link_to edit_event_path(@event) do %>
				<button class="ui tiny button">Edit</button>
				<% end %>
				<%= render 'groups/index' %>

				
				<br>
			</div>
		</div>
		<%= render 'groups/new' %>

		<h1><%= link_to 'Edit', edit_event_path(@event) %>
			<%= link_to 'Main', main_path %></h1>

			<%= render 'groups/index' %>
			<br>
			<%= render 'groups/new' %>
			<% if policy(@event).show? %>
			hello
			<% end %>
		</div>

	</div>




