<div class="ui container"

<h1><%= @event.title %><br><h1>
<h2 id="red">Description: <%= @event.description%></h2>
<h2>Start Date: <%= @event.datetime_start%></h2>
<h2>End Date:<%= @event.datetime_end%></h2>
<h2>Event ID:<%= @event.event_id%></h2>
<h2>Event Location<%= @event.location%></h2>



<h1><%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Main', main_path %></h1>

<%= render 'groups/index' %>
<br>
<%= render 'groups/new' %>

</div>