<div class="ui container">

<h2><%= @event.title %><br><h2>
<h2>Description: <%= @event.description%></h2>
<h2>Start Date: <%= @event.datetime_start%></h2>
<h2>End Date:<%= @event.datetime_end%></h2>
<h2>Event ID:<%= @event.event_id%></h2>
<h2>Event Location<%= @event.location%></h2>



<h1><%= link_to 'Edit', edit_event_path(@event) %>
<%= link_to 'Main', main_path %></h1>

<%= render 'groups/index' %>
<br>
<%= render 'groups/new' %>
<% if policy(@event).show? %>
hello
<% end %>
</div>