<!DOCTYPE html>
<html>
  <head>
    <title>Mingle</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>

  <body>
<div class="ui container">
<div class="ui secondary  menu">

  <div class="right menu">
  <a class="active item">
    Home
  </a>
          <%= link_to("Logout", "/users/sign_out", method: :delete, class:"ui item") %>
   </div>
</div>
</div>
</div>



    <%= yield %>
  </body>
</html>
